<a href="https://colab.research.google.com/github/Abdullah-NI/NoteBooks/blob/main/02_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming language used for machine learning

1. python
2. R

**Print function**

In [2]:
print("machine learning")

machine learning

# Basic datat types in python

1. int
2. float
3. string

In [3]:
type(5)

int

In [4]:
type(8.45)

float

In [5]:
type("rtrtrtr")

str

#constant and vaiable

In [6]:
x=y=z=78
print(x)
print(y)

78
78

#input function

In [7]:
num1=int(input("enter a num"))
num2=int(input("enter 2 nd num"))
sum=num1+num2
print(sum)

enter a num2
enter 2 nd num3
5

In [8]:
print(num1*num2)

6

In [9]:
z=5+4j
type(z)

complex

In [10]:
print("hellow"*5)

hellowhellowhellowhellowhellow

Basic data types in python
1. integer
2.floating point
3. complex
4. boolean
6. string

Convrsion of one data typr to another

Types of objects in python
1. immutable objects
2. mutable objects

immtable object

1. int
2. float.
3. string
4. bool
5. tuple

mutable objects
1. list
2. set
3. dictionarty

In [11]:
mytup=(1,2,3,4)
#mytup.append(7)

**Opratern in python**

1. arithmetic oprater
2. assignment oprater
3. compparision oprater
4. logical oprater
5. identity oprater
6. membership oprater

In [12]:
#identity oprater
x=5
y=6
print(x is y)
print(x is not y)

False
True

In [13]:
#membership oprater
list=[1,2,3,4,5]
x=5
y=10
print(x in list)
print(y not in list)

True
True

If else statment

loops

In [14]:
i=0;
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

Functions